* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Darkcyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
}
body {
  width: 100%;
  font-size: 1.125rem;
  background: var(--Darkcyan);
  padding: 2rem;
  font-family: "Kumbh Sans", sans-serif;
}
main {
}
h4 {
  font-weight: 700;
}

.py-1 {
  padding: 1rem 0;
}

.p-1 {
  padding: 1rem;
}
.sm {
  font-size: 0.85rem;
  letter-spacing: 2px;
}
.mt {
  margin-top: 1rem;
}
.mb {
  margin-bottom: 1rem;
}

.background-image {
  position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid #73ad21;
}

.top-background-img img {
  width: 20%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.card {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #fff;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.top-card {
  background: url(/images/bg-pattern-card.svg);
  width: 100%;
  height: 100px;
}

.card-img {
  position: absolute;
  left: 35%;
  top: 20%;
}

.card-img img {
  border-radius: 50%;
}

.card-text {
  position: absolute;
  top: 50%;
  left: 30%;
  text-align: center;
}

.card-info {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  top: 70%;
  border-top: 1px solid #ccc;
}
.md {
  font-size: 1.1rem;
}
.txt {
  color: var(--Dark-grayish-blue);
  font-weight: 300;
}

.lead {
  font-weight: 700;
}

.circles .c1, .circles .c2 {
  position: absolute;
  
}

.circles .c1 {
  top: -75;
  left: -20;
}

.circles .c2 {
  bottom: -75;
  right: -20;
}